@tailwind base;
@tailwind components;
@tailwind utilities;


/* navbar css */
.navbar-end button{
    background-color: #7ad2a2;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
}

.menu li a.active{
    background-color: #7ad2a2 !important;
    color: white !important;
    font-weight: 500;
    border-radius: 5px;
}

.menu li {
    margin: 0px 7px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.dropdown li {
    margin: 10px 0px;
}




/* login page css */
.signin-form input {
    outline: none;
    width: 100%;
    height: 47px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 0px 10px;
    border-radius: 5px;
}

.signin-form label {
    font-weight: 400;
    font-size: 17px;
}

.signin-form button {
    background-color: #7ad2a2;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 500;
}

.signin-form p {
    color: #3f3f3f;
    font-weight: 500;
}

.input:focus {
    outline: none;
}

/* responsive code */
@media screen and (max-width: 1000px) {
    .sign-in{
        flex-wrap: wrap;
    }

    .sign-in > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .signin-text > div{
        text-align: center;
    }

    .signin-text img {
        margin: 0 auto;
    }
}